@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pacifico');

/* Tailwind base styles */
@tailwind utilities;

/* Custom overrides if needed */
.preview-page {
  min-height: 100vh;
}

/* Fix Bootstrap navbar for mobile - show menu when open */
@media (max-width: 991.98px) {
  .navbar-collapse.show {
    display: block !important;
  }
  
  .navbar-collapse.show .navbar-nav {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
  }
  
  .navbar-collapse.show .navbar-nav .nav-item {
    display: block !important;
    width: 100%;
  }
  
  .navbar-collapse.show .navbar-nav .nav-link {
    display: block !important;
    padding: 0.75rem 1rem;
  }
  
  .navbar-collapse.show .dropdown-menu.show {
    display: block !important;
    position: static !important;
    float: none !important;
    width: 100%;
  }
}

/* Fix Bootstrap navbar-expand-lg for larger screens */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    visibility: visible !important;
  }
  
  .navbar-expand-lg .navbar-collapse.collapse {
    display: flex !important;
  }
  
  .navbar-expand-lg .navbar-toggler {
    display: none !important;
  }
  
  .navbar-expand-lg .navbar-nav {
    display: flex !important;
    flex-direction: row;
    margin-left: auto;
  }
  
  .navbar-expand-lg .navbar-nav .nav-item {
    display: block !important;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .navbar-expand-lg .navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
